/* ---------------------------------- utils --------------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------------------------- base ---------------------------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: Arimo, sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.btn {
  border: transparent;
  border-radius: 43px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

/* ------------------------------- components ------------------------------- */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    padding: 0 165px;
  }
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next {
  position: absolute;
  cursor: pointer;
  font-size: 60px !important;
  color: #fff !important;
  top: 0;
  height: calc(100% - 50px);
  width: 70px;
  transition: opacity 300ms linear;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover {
  opacity: 0.2;
  background-color: transparent;
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-prev:hover {
  left: 0;
}

.carousel .owl-nav .owl-next,
.carousel .owl-nav .owl-next:hover {
  right: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 25px 7px;
  background: rgba(234, 213, 23, 0.3568627451);
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e29e0c;
}

/* --------------------------------- layouts -------------------------------- */
.header {
  border-bottom: 1px solid #ffffff;
  position: absolute;
  width: 100%;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrap {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .logo-wrap {
    padding-bottom: 33px;
    padding-top: 33px;
  }
}

.logo-icon {
  fill: #34c759;
}

.logo-desk {
  fill: #34c759;
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 45px;
    padding-right: 11px;
    padding-top: 10px;
  }
}

.header-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  color: #34c759;
}

.open-menu-btn {
  border: transparent;
  background-color: transparent;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.menu-icon {
  fill: #ffffff;
}

/* ---------------------------------- menu ---------------------------------- */
.header-menu {
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  border: transparent;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 12px;
  top: 10px;
  right: 15px;
}

.header-mob-list {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-mob-link {
  font-weight: 700;
  font-size: 44px;
  color: #1a1a1a;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mob-link:hover, .header-mob-link:focus {
  color: #34c759;
}

.hero {
  background-color: #1a1a1a;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}
.hero .container {
  padding-top: 140px;
  padding-bottom: 300px;
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding-top: 180px;
    padding-bottom: 400px;
  }
}

.hero-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 32px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 62px;
    max-width: 1100px;
    padding: 0 5px;
  }
}

.hero-desk {
  font-size: 14px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero-desk {
    font-size: 16px;
  }
}

.hero-btn {
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.23;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #34c759;
  margin-bottom: 70px;
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    padding: 25px 55px;
  }
}

.hero-list :last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .hero-list {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-list {
    gap: 90px;
  }
}

.hero-item {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.hero-icon {
  fill: #737373;
  margin-bottom: 16px;
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 768px) {
  .hero-icon {
    width: 20px;
    height: 20px;
  }
}

.hero-subtitle {
  font-size: 20px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 16px;
  }
}

.hero-list-desk {
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .hero-list-desk {
    font-size: 14px;
  }
}

.carousel-sec {
  padding-top: 150px;
  display: none;
}

.item {
  height: 150px;
  background-color: rgb(212, 125, 43);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item h4 {
  font-size: 34px;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */