body {
  font-family: Arimo, sans-serif;
  background-color: $black;
  color: $white;
  cursor: url(../img/cursor.cur), default;
}
a,
button {
  &:hover {
    cursor: url(../img/cursor.cur), default;
  }
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.btn {
  border: transparent;
  border-radius: 43px;
}
