.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next {
  position: absolute;
  cursor: pointer;
  font-size: 60px !important;
  color: #fff !important;
  top: 0;
  height: calc(100% - 50px);
  width: 70px;
  transition: opacity 300ms linear;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}
.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover {
  opacity: 0.2;
  background-color: transparent;
}
.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-prev:hover {
  left: 0;
}
.carousel .owl-nav .owl-next,
.carousel .owl-nav .owl-next:hover {
  right: 0;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 25px 7px;
  background: #ead5175b;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e29e0c;
}
