.carousel-sec {
  padding-top: 150px;
  display: none;
}
.item {
  height: 150px;
  background-color: rgb(212, 125, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    font-size: 34px;
    color: #ffffff;
  }
}
