.work {
  background-color: $black;
  .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    @include desktop {
      padding-top: 60px;
    }
  }
}
.work-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: $title;
  position: relative;
  z-index: 3;
  margin-bottom: 90px;
  padding-top: 35px;
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    background-color: $accent;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -28px;
  }
  @include mobile {
    padding-top: 50px;
  }
  @include desktop {
    font-size: 36px;
    padding-top: 0;
  }
}
.work-desk {
  position: absolute;
  @extend %events-style;
  top: 0;
  z-index: 1;
  padding-top: 80px;
  @extend %center-absolute;
  @include desktop {
    padding-top: 28px;
  }
}
.work-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include desktop {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
.work-link {
  width: 255px;
  height: 206px;
  background-color: $darkGray;
  display: block;
  transition: background-color $transition-2;
  padding: 34px 30px;
  &:hover,
  &:focus {
    background-color: $accent;
  }
}

.work-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: $white;
  margin-bottom: 42px;
  transition: color $transition-2;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 56px;
    background: $accent;
    bottom: -16px;
    left: 0;
    transition: background $transition-2;
  }
  .work-link:hover &,
  .work-link:focus & {
    color: $hover-title;
    &::after {
      background: $hover-title;
    }
  }
}
.work-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: $white;
  transition: color $transition-2;
  .work-link:hover &,
  .work-link:focus & {
    color: $hover-title;
  }
}
