.footer {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
}
.design-author {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: $lightGray;
  position: relative;
  &::before {
    content: '©';
    position: absolute;
    left: -12px;
  }
}
