.footer {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
}
.watermark-item {
  color: $lightGray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rights-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: $lightGray;
  position: relative;
}
